body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
/* global */
h2 {
    font-weight: 700;
    font-size: 60px;
    font-family: "Space Grotesk", sans-serif;
}
h3 {
    font-size: 40px;
}
p {
    line-height: 1.5;
}

.text_1 {
    max-width: 420px;
    text-align: justify;
}
.text_2 {
    color:#484C89;
}
.hero-container {
    width: 550px;
    padding-bottom: 80px;
}
.work-title {
    font-size: 26px;
    font-weight: 500;
    color: #484C89;
    font-family: "Space Grotesk", sans-serif;
    margin-top: -35px;
}
#typing-text::after {
  content: "|";
  margin-left: 4px;
  animation: blink 0.8s infinite;
}
.work-description {
    font-size: 18px;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #FFFBF5;
    border-bottom: 1px solid #EDE9E4;
    height: 60px;
}
.hamburger {
    display: none;
}
footer {
    background: #FFFBF5;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-top: 1px solid #EDE9E4;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    color: #304254;
}
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
    
}
.nav-links a{
    position: relative;
    color: #484C89;
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
}
.nav-links a:hover{
    color: #F4ADC1;
}
.section {
    display: flex;
    justify-content: center;
    min-height: 570px;
    padding: 20px 0 30px 0;
}

#about, #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#about {
    align-items: center;
}
.about-me_mob {
    display: none;
}
.about_img {
    height: 360px;
    width: auto;
}
#hero, #skills, #projects, .skills_inner_a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills {
    padding-bottom: 80px;
}
.skills_inner_a {
    padding: 20px;
}
.skills_inner_b {
    padding-top: 30px;
}
.skills_inner_c {
    display: flex;
    flex-direction: column;
}
.skills_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 30px;
}
.skills_list li{
    background-color: #FFE9F5;
    align-items: center;
    display: flex;
    justify-content: left;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.skills_list i {
    font-size: 24px;
    padding: 10px;
    color: #F4ADC1;
}
.tools_img {
    height: 320px;
    width: auto;
    padding-top: 20px;
}
.project-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.project-card {
    background-color: #FFE9F5;
    padding: 20px;
    transition: transform 0.3s ease;
    width: 300px;
    height: 350px;
    /* border: 1px solid #484C89; */
    border-radius: 5px;
}
.project-card:hover {
    transform: scale(1.05);
}

/* contact form */
.contact-form_container {
    width: 400px;
}
.contact-form {
    background: #FFE9F5;
    padding: 20px;
    gap: 10px;
}
label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
input,
textarea {
  width: 340px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #EDE9E4;
}
textarea {
    height: 160px;
    margin-bottom: 0;
}

/* buttons */
.send-btn, .project-btn, .resume-btn {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}
.send-btn, .project-btn {
    background:#F4ADC1;
    color:#fff;
    border: 2px solid #F4ADC1;
}
.send-btn {
    width: auto;
}
.resume-btn, .project-btn {
    width: 100px;
}
.resume-btn {
    background: none;;
    border: 2px solid #F4ADC1;
    color: #F4ADC1;
}

/* Mobile */

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    .text_1 {
        max-width: 330px;
    }
    p {
        font-size: 16px !important;
        font-weight: 500;
    }
    .hamburger {
        display: block;
    }
    .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
    }
    .nav-links.active {
    display: flex;
    }
    .section {
        max-width: 768px;
    }
    .hero-container {
        width: 400px;
    }
    .work-title {
    font-size: 20px;
    margin-top: -10px;
    }
    .about-me_mob {
        display:flex;
        justify-content: center;
    }
    .about-me_web {
        display: none;
    }
    .about_img {
        height: 230px;
    }
    #about, #contact {
        flex-direction: column;
    }
    .skills_list {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-left: 0;
    }
    .skills_list li{
        max-width: 300px;
        font-size: 16px;
    }
    
    .project-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .tools_img {
        height: 120px;
    }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}