body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
.nav_back {
    padding: 20px 0;
}
.nav_back a {
    text-decoration: none;
    margin: 15px;
    color: #484C89;
    font-weight: 550;
}
.project-page_container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    min-height: 570px;
    background: #F5F6F7;
}
.project-page_info {
    width: 500px;
}
.project-page_preview img {
    width: 700px;
    height: 100%;
}
.project-section {
    justify-content: left;
    padding: 20px 50px 30px 50px;
}
.contribution-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.contribution-card i{
    border-radius: 50%;
    background: #ddd;
    padding: 20px;
}
.contribution-card_grid, .features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.features-card {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}
.features-card:nth-child(5n) {
  border-right: none;
}
.vertical-divider {
  width: 1px;
  height: 100px;
  background: #ccc;
}
.tech-used_section {
    background: #F5F6F7;
}
.tech-used {
    padding: 0px 50px;
}
.tech-used_container {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    padding: 0 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    border-radius: 5px;
}
.tech-used_container img{
    height: 100%;
    width: 30px;
    user-select: none;
}
.tech-used_container p {
    user-select: none;
}
.project-page_btn {
    display: flex;
    gap: 15px;
}
.view-screenshot_btn {
    background:#F4ADC1;
}
.view-screenshot_btn a {
    color:#fff;
}
.view-source-code_btn a{
    color: #F4ADC1;
}
.view-source-code_btn {
    background: none;
}
.view-source-code_btn, .view-screenshot_btn {
    border: 2px solid #F4ADC1;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Gallery */
.gallery-project_container ul{
    display: flex;
    gap: 15px;
}
.gallery-project_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    width: 100%;
    max-width: 300px;
    list-style: none;
}
.gallery-project_card img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* TEST ----------------------------------------- */
/* .swiper {
    width: 600px;
    height: 300px;
} */

/* Tablet */
@media (max-width: 1024px) {
  .project-page_container {
    padding: 40px 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
    .project-page_container {
        flex-direction: column;
        padding: 40px 20px;
        min-height: auto;
        text-align: center;
    }
    .project-page_preview img {
        width: 400px;
        height: 100%;
    }

    .features {
        grid-template-columns: repeat(5, 1fr);
    }
    .features-card p{
        text-align: center;
    }
    .project-page_btn {
        flex-direction: column;
        align-items: center;
    }
    .project-page_btn button{
        width: 380px;
        border-radius: 5px;
    }
    .tech-used_container {
        padding: 10px;
    }
    .tech-used_container p{
        display: none;
    }
}